.bi-info-page-mid {
    height: 100vb !important;
}

.bi-book-cover {
    width: 80vh !important;
    max-height: 100vh !important;
}

.bi-author-name-display {
    padding-bottom: 1vh !important;
}
